Options -MultiViews
RewriteEngine On
 
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^staticfiles/(.*)$ staticfiles/$1 [L]
 
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^static/(.*)$ static/$1 [L]
 
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^media/(.*)$ media/$1 [L]
 
<FilesMatch "^\.">
    Require all denied
</FilesMatch>
 
RewriteRule ^$ http://127.0.0.1:8000/ [P,L]
RewriteRule ^(.*)$ http://127.0.0.1:8000/$1 [P,L]
