{% extends "admin/base.html" %}

{% load i18n admin_urls static admin_modify %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    {% block object-tools %}{% endblock %}
    {% block object-tools-items %}{% endblock %}
    
    <form {% if has_add_permission or has_change_permission or has_delete_permission %}action="" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
        <div>
            {% if is_popup %}<input type="hidden" name="{{ is_popup_var_name }}" value="1">{% endif %}
            {% if to_field %}<input type="hidden" name="{{ to_field_var_name }}" value="{{ to_field }}">{% endif %}
        </div>
        
        {% block form %}{% for fieldset in adminform %}{% include "admin/includes/fieldset.html" %}{% endfor %}{% endblock %}
        
        {% block after_field_sets %}{% endblock %}
        
        {% block inline_field_sets %}{% for inline_admin_formset in inline_admin_formsets %}{% include inline_admin_formset.opts.template %}{% endfor %}{% endblock %}
        
        {% block after_related_objects %}{% endblock %}
        
        <div class="submit-row">
            {% if has_change_permission %}
                <input type="submit" name="_save" class="default" value="{% trans 'Save' %}">
                {% if has_add_permission %}
                    <input type="submit" name="_addanother" class="default" value="{% trans 'Save and add another' %}">
                {% endif %}
            {% endif %}
            {% if has_delete_permission %}
                <input type="submit" name="_delete" class="default" value="{% trans 'Delete' %}">
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block submit_buttons_bottom %}{% endblock %}

{% block admin_change_form_document_ready %}
{% block extrahead %}{{ block.super }}{% endblock %}
<script id="django-admin-form-add-constants"
        src="{% static 'admin/js/change_form.js' %}"
        {% if adminform and add %}
            data-model-name="{{ opts.model_name }}"
        {% endif %}
        async>
</script>
{% endblock %}
